# Auto detect text files and perform LF normalization
* text=auto

# Ignore documentation  and photos with “export-ignore”.
*README.md export-ignore
*LICENSE export-ignore

assets
*.png binary
*.jpg binary
